* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.navbar {
  background-color: rgb(171, 177, 182);
  width: 100%;
margin-top: -150px;
  display: flex;
  /* position: fixed; */
}
.navbar ul {
  display: flex;
  list-style: none;
  gap:2rem; 
  color: white;
  font-size: 1.5rem;
padding-left: 600PX;
margin-top: 170px;
padding-bottom: 20PX;
  justify-content:right;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  /* text-align: center; */
}
.navbar ul li:hover {
  background-color: red;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  /* padding: 5px; */
}
.logo img {
padding-top: 150PX;
width:180PX;
  height: 210PX;
  position: absolute;
}
.container {
  width: 100%;
  height: 78vh;
  /* background-color: rgb(134, 137, 136);  */
  display: flex;
  justify-content: space-between;
}
.container-part1 {
  width: 45%;
  height: 73vh;
  background-color: white;
}
.container-part1 span {
  color: red;
}
.container-part1 h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 700;
}
.container-part1 p {
  font-size: 18px;
  padding: 50px 20px;
  line-height: 1.5rem;
}
.container-part2 {
  width: 45%;
  height: 73vh;
  background-image: url(./resto1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.button {
  margin-left: 60px;
  margin-top: 20px;
}
button {
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: red;
  border-color: rgb(244, 8, 8);
}
.day-per-day {
  /* display:flex; */
  justify-content: space-around;
  /* width: 80%; */
  margin: auto;
  padding:40px 40px;
}
.day-per-day h2{
  font-size: 2rem;
}
.products p {
  font-size: 18px;
  line-height: 1.5;
}
.products h2 {
  text-align: center;
  padding-bottom: 50px;
}
.product-one {
  display: flex;
  /* justify-content: space-between;
    margin:0; */
  /* float:left; */
}
.product-one img {
  margin-left: 700px;
  position: absolute;
  z-index: 9;
}
.product-one p {
  position: relative;
  z-index: 10;
  margin-left: 60px;
  line-height: 2rem;
}
.product-two {
  display: flex;
  margin-top: 50px;
}
.product-two img {
  /* margin-left: -100px; */
  margin-top: 100px;
}
.product-two p {
  margin-left: 130px;
  margin-top: 100px;
  line-height: 2rem;
}
.product-three {
  display: flex;
  /* margin-top: 30px ; */
}
.product-three img {
  margin-left: 650px;
  position: absolute;
  z-index: 9;
}
.product-three p {
    line-height: 2rem;
  position: relative;
  z-index: 10;
  /* margin-left: -200px; */
}
#product{
  background-color:white;
  width:100%;
  position: absolute;
  /* height:100%; */
  /* padding-bottom:30px; */
  display:flex;
  flex-wrap: wrap;
  /* gap:1rem; */
  /* padding-top: 20px; */
}
/* .product-detail{
  width: 18%;
  /* padding:10px; */
  /* height:50vh; */
  /* background-color: red; */
  /* justify-content: space-between; */

.product-detail{
  width: 23%;
  margin:10px;
  /* height:50vh; */
  background-color:rgb(255, 248, 248);
  border-radius: 30px;
}
.product-detail:hover{
  transform: translateY(2px);
  box-shadow:3px 3px 3px 3px ;
}
.product-detail a{
  text-decoration: none;
}
.product-detail h1{
  /* margin-left:20px ; */
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}
.product-detail img{
  padding:20px;
  width:300px;
  height:220px;
  padding-top: 20px;
  /* margin:10px; */
  border-radius: 40PX;
}
.product-detail p{
  padding:10px;
  font-size:15px ;
}
#btn{
  background-color: red;
  margin:10px 50px;

}
#btn:hover{
  cursor:pointer;
  background-color: white;
}
#view-more{
  margin-left: 550px;
  margin-top: 100px;
  background-color: chocolate;
}
.about h2{
  margin-left: 400px;
margin-top: 50px;
}
.about1{
  margin-top: 80px;
}
.loginbox{
  background-color: aquamarine;
  background-color: rgba(0, 0, 65, 0.23);
  box-shadow:inset -5px -5px rgba(0, 0, 0, 0.23);
  color:white;
  border-radius: 10px;
  margin:auto;
  margin-top: 40px;
  width:30%;
  /* height:300px; */
  background-repeat: no-repeat;
  padding:20px;
  /* background-color: rgb(0,0,0,0.23); */
  /* box-shadow: 20px; */
  /* margin-top: 20px; */
  /* color:transparent; */
}
.loginbox input{
  width:100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="Password"]{
  border: none;
  border-bottom: 1px solid #e7a4a4;
  background:transparent;
  outline:none;
  height:40px;
  color:#302626;
  font-size: 16px;
}
.loginbox input[type="Submit"]{
  border:none;
  outline: none;
  height: 40px;
  background:red;
  color:azure;
  font-size: 18px;
  border-radius: 30px;
}
.loginbox input[type="Submit"]:hover{
  background-color: rgb(223, 223, 126);
  cursor:pointer;
  color:black;
}
.box{
  background-image:url(backfood7.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60PX;
}
.box loginbox{
  color:transparent;
}
.loginbox a{
  text-decoration: none;
  line-height: 2rem;
  font-size: 17px;
  color:white;
}
.loginbox a:hover{
  /* background-color: rgb(23, 185, 72); */
  color:black;
}
/* .register{
  display:flex;

} */
.loginbox button{
  width:350px;
  border-radius: 30px;
  height:20px;
  padding-bottom: 30px;
  color:white;
}
.loginbox button:hover{
  background-color: rgb(223, 223, 126);
}
.register{
  background-image: url(backfood7.webp);
  /* background-repeat: no-repeat; */
  background-size: cover;
position: absolute;
width:100%
}
.register a{
  font-size: 20PX;
  padding-left: 130PX;
}
.box1{
  background-image: url(backfood7.webp);
  /* background-position: center; */
  background-size: cover;
  position: absolute;
  width:100%;
  height:100vh;
  /* background-repeat: no-repeat; */
  background-size: cover;
 
  
}
.box1 .loginbox{
  background-color: rgba(0, 0, 65, 0.23);
  box-shadow:inset -5px -5px rgba(0, 0, 0, 0.23);
  color:white;
  border-radius: 10px;
}
.menu{
  background-color: rgb(171, 177, 182) ;
  padding-bottom: 60PX;
}
.menu h1{
  padding-left: 50px;
 position: absolute;
  padding-top: 20px;
 
}
.VIEW h1{
  padding-top: 20px;
  position: absolute;
  padding-left: 500px;
}
.menu P{
  padding-left: 600px;
  padding-top: 20PX;
  font-size: 30PX;
  position: absolute;
}
.menu a{
color: black;
padding-right: 100PX;
}
.menu a:hover{
  cursor: pointer;
}
.services #product{
margin-top: 80px;
}
.image{
  display:flex;
  flex-wrap: wrap;
}
.image h2{
  position:absolute;
}
.image img{
  margin:15px;
 width:24%;
 border-radius: 40px;
margin-left: 20PX;
}
.image2{
  width: 23%;
  margin:10px;
  /* height:50vh; */
  background-color:rgb(255, 248, 248);
  border-radius: 30px;
  margin-top: 80px;
}
.image2 img{
  padding:15px;
  width:270px;
  height:280px;
  padding-top: 20px;
  border-radius: 40PX;
}
.image2 h2{
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
  padding-left: 70px;
}
.contactus{
  background-image: url(backfood7.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  display:flex;
  justify-content: space-between;
  /* margin-left: 20px; */
}
.contactus loginbox{
  padding:20px;
}
strong{
  /* font-size: 300px; */
  -webkit-text-stroke: 1px #000;
  color:transparent;
  /* background-image: linear-gradient(#d82828,#ce2b2b); */
  background-repeat: no-repeat;
  /* -webkit-background-clip: text; */
  /* background-position: 750px 0; */
}
@media screen and (max-width:800px) {
  .navbar{
    width:100%;
  display: block;
padding-top: 10px;
}
.navbar ul{
gap: 10px;
 padding-right: 10px;
 

}

.logo img{

 width: 200px;
 height: 240px;
padding-top: 150px;
}
.container-part2 {
  width: 45%;
  height: 50vh;
  margin-left: 100px;
  
 
}
.button {
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
}
button {
  font-size: 20px;
  padding: 15px;
 
 
}
.product-one img {
  margin-left: 500px;

 width: 200px;
 height: 250px;
}
.product-one p {
  margin-left: -10px;

 
}
.product-two img {
  width: 350px;
  height: 400px;
margin-left: -70px;
}
.product-two p {
 padding-right: 10px;

 
}
.product-three img {
  width: 220px;
  height: 220px;
  margin-left: 400px;
 
}
.product-three p {
  margin-left: -100px;
 
 
}
.product-detail img{
  padding:20px;
  width:230px;
  height:220px;
  padding-top: 20px;
  /* margin:10px; */

}
.product-detail{
  width: 30%;
  margin:10px;
  
}
.image2{
  width: 30%;
  margin:10px;
  
  
  margin-top: 80px;
}
.image2 img{
 
  width:200px;
  height:240px;
 
}
.loginbox{
  
  border-radius: 10px;
  margin:auto;
  margin-top: 40px;
  width:48%;
padding-top: 20px;
height: 90vh;

}
.box{


  background-size: cover;
}
}
